body{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
    background: #ff0;
}

li {
  list-style: none;
  width: 150px;
  height: 150px;
  transform: rotate(-30deg) skew(25deg);
}

li span{
  background: radial-gradient(circle at 20% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: -3px 3px 5px 0px rgba(0,0,0,.25);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 100px !important;
  transition: 0.7s;
}

li:hover span:nth-child(5){
    transform: translate(80px,-80px);
    opacity: 1;
}

li:hover span:nth-child(4){
    transform: translate(60px,-60px);
    opacity: 0.8;
}

li:hover span:nth-child(3){
    transform: translate(40px,-40px);
    opacity: 0.6;
}

li:hover span:nth-child(2){
    transform: translate(20px,-20px);
    opacity: 0.4;
}

li:hover span:nth-child(1){
    transform: translate(0px,-0px);
    opacity: 0.2;
}